/*footer{
    background-color: black;
    color: white;
    bottom: 0;
    position: absolute;
    width: 100%;

}*/



 /*footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}*/